# Assignment 6

## Que 1.
### Find out the number of rows and columns using the shape attribute.

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("Netflix_top_10.csv")

In [2]:
df.shape

(400, 6)

## Que 2.
### Check the first eight rows using the head method.

In [3]:
df.head(8)

,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,2021-11-14,Films (English),1,Red Notice,NaN,1
1,2021-11-14,Films (English),2,Meenakshi Sundareshwar,NaN,2
2,2021-11-14,Films (English),3,Doctor (Tamil),NaN,2
3,2021-11-14,Films (English),4,Love Hard,NaN,2
4,2021-11-14,Films (English),5,Doctor (Telugu),NaN,2
5,2021-11-14,Films (English),6,Army of Thieves,NaN,3
6,2021-11-14,Films (English),7,Maha Samudram,NaN,1
7,2021-11-14,Films (English),8,Monster Hunter,NaN,1

## Que 3
### Use the describe method on this dataframe.

In [4]:
df.describe

<bound method NDFrame.describe of            week         category  weekly_rank              show_title  \
0    2021-11-14  Films (English)            1              Red Notice
1    2021-11-14  Films (English)            2  Meenakshi Sundareshwar
2    2021-11-14  Films (English)            3          Doctor (Tamil)
3    2021-11-14  Films (English)            4               Love Hard
4    2021-11-14  Films (English)            5         Doctor (Telugu)
..          ...              ...          ...                     ...
395  2021-07-04     TV (English)            6                 Lucifer
396  2021-07-04     TV (English)            7                 Lucifer
397  2021-07-04     TV (English)            8                 Friends
398  2021-07-04     TV (English)            9                 Friends
399  2021-07-04     TV (English)           10                 Lucifer

          season_title  cumulative_weeks_in_top_10
0                  NaN                           1
1                  NaN                           2
2                  NaN                           2
3                  NaN                           2
4                  NaN                           2
..                 ...                         ...
395  Lucifer: Season 3                           1
396  Lucifer: Season 2                           1
397  Friends: Season 6                           1
398  Friends: Season 5                           1
399  Lucifer: Season 1                           1

[400 rows x 6 columns]>

## Que 4.
### In which months was the show “Friends” in the top 10?

In [39]:
abc=df[(df.show_title=='Friends') & (df.weekly_rank<=10)].week

In [40]:
months=set()
for i in abc:
    months.update({i[5:7]})
print(months)

{'07'}

In [37]:
abc.week

359    2021-07-18
377    2021-07-11
379    2021-07-11
397    2021-07-04
398    2021-07-04
Name: week, dtype: object

In [34]:
abc.d

,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,month
0,2021-07-18,TV (English),10,Friends,Friends: Season 6,3,7
1,2021-07-11,TV (English),8,Friends,Friends: Season 6,2,7
2,2021-07-11,TV (English),10,Friends,Friends: Season 5,2,7
3,2021-07-04,TV (English),8,Friends,Friends: Season 6,1,7
4,2021-07-04,TV (English),9,Friends,Friends: Season 5,1,7

## Que 5.
### Which TV show was in the top 10 for a long time?

In [8]:
x= df[(df.category=='TV (English)') & (df.weekly_rank<=10)]

In [9]:
x.sort_values('cumulative_weeks_in_top_10',ascending=False).head(1)

,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,month
16,2021-11-14,TV (English),7,Money Heist,Money Heist: Part 1,20,11

## Que 6.
### Which movie was in the top 10 for a long time?

In [10]:
y= df[(df.category=='Films (English)') & (df.weekly_rank<=10)]

In [11]:
y.sort_values('cumulative_weeks_in_top_10',ascending=False).head(1)

,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,month
47,2021-10-31,Films (English),8,Haseen Dillruba,NaN,16,10

## Que 7.

### Which movie was at number 1 position for the month of July?

In [12]:
z= df[(df.category=='Films (English)') & (df.weekly_rank==1) & (df.month==7)].head(1)

In [13]:
z

,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,month
320,2021-07-25,Films (English),1,Haseen Dillruba,NaN,4,7