# Assignment 8

## Que - Download a tabular dataset of your choice from the internet and perform Exploratory Data Analysis on it.

### Dataset source: UCI Machine Learning Repository

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('Tetuan_city_power_consumption.csv')

In [3]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [4]:
df['Date'] = pd.to_datetime(df['DateTime']).dt.date

In [5]:
df['Time'] = pd.to_datetime(df['DateTime']).dt.time

### Que  - Describe mean temperature for 2017

In [8]:
df.describe().loc['25%', 'Temperature']

14.41

### Que - What is the highest power consumption for zone 1, zone 2, zone 3

In [13]:
h=df.sort_values(['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption'], ascending=False).head(1)

In [14]:
h.loc[:,['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']]

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
31514,52204.39512,36129.25026,41018.18182

### Que - Date at which humidity was in between 70 to 70.1 with first 10

In [25]:
b = df[(df.Humidity >=70) & (df.Humidity<=70.1)].head(10)

In [26]:
b

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Date,Time
129,1/1/2017 21:30,12.24,70.1,0.077,0.073,0.089,38643.03797,24827.96353,25359.03614,2017-01-01,21:30:00
282,1/2/2017 23:00,12.82,70.1,0.075,0.077,0.100,32785.82278,21753.19149,21166.26506,2017-01-02,23:00:00
504,1/4/2017 12:00,11.47,70.1,0.085,466.400,37.490,33873.41772,21942.85714,16267.95181,2017-01-04,12:00:00
692,1/5/2017 19:20,12.47,70.1,0.081,0.062,0.108,43819.74684,27625.53191,25648.19277,2017-01-05,19:20:00
824,1/6/2017 17:20,14.99,70.1,0.086,42.350,42.440,35617.21519,23117.32523,20732.53012,2017-01-06,17:20:00
1061,1/8/2017 8:50,12.44,70.1,0.087,25.750,22.120,22316.96203,12922.79635,11861.20482,2017-01-08,08:50:00
1116,1/8/2017 18:00,15.40,70.1,0.068,26.820,28.130,40313.92405,24149.54407,25341.68675,2017-01-08,18:00:00
1159,1/9/2017 1:10,15.13,70.1,0.078,0.048,0.111,23210.12658,14596.96049,15620.24096,2017-01-09,01:10:00
1581,1/11/2017 23:30,12.03,70.1,0.086,0.055,0.104,31916.96203,19973.25228,19396.62651,2017-01-11,23:30:00
2193,1/16/2017 5:30,14.69,70.1,0.076,0.040,0.137,21915.94937,13995.13678,14810.60241,2017-01-16,05:30:00

### Que - Date and time at which zone 2 power consumption was high and temperature and humidity at that time with 10 timimgs

In [39]:
d=df.sort_values('Zone 2  Power Consumption',ascending=False).head(10)

In [40]:
d.loc[:,['Date','Time','Temperature','Humidity']]

             Date      Time  Temperature  Humidity
29494  2017-07-24  19:40:00        29.79     35.68
29493  2017-07-24  19:30:00        29.94     35.98
30936  2017-08-03  20:00:00        29.66     46.88
30938  2017-08-03  20:20:00        29.27     49.52
30935  2017-08-03  19:50:00        29.91     45.82
30939  2017-08-03  20:30:00        29.16     50.12
30937  2017-08-03  20:10:00        29.39     48.08
30940  2017-08-03  20:40:00        29.05     50.88
31514  2017-08-07  20:20:00        27.24     78.00
31801  2017-08-09  20:10:00        31.09     50.65

### Que - Date and time at which zone 2 power consumption was low with 10 timings

In [41]:
l=df.sort_values('Zone 2  Power Consumption').head(10)

In [42]:
l.loc[:,['Date','Time']]

             Date      Time
13141  2017-04-02  06:10:00
13144  2017-04-02  06:40:00
13142  2017-04-02  06:20:00
13143  2017-04-02  06:30:00
13145  2017-04-02  06:50:00
13140  2017-04-02  06:00:00
13146  2017-04-02  07:00:00
13147  2017-04-02  07:10:00
13148  2017-04-02  07:20:00
20195  2017-05-21  05:50:00